ree/*
Author: Roleen Nunes
Email: roleen.nunes@mail.utoronto.ca

CSS for Zoo Parade Game
*/

html{

}
body{
	background-color: #5EC471;/*light green*/
}

#leftMap{
	background-color: #FFFF66; /*light yellow*/
	width: 34%;
	height: 65%;
	margin: 0.86%;
	border-radius: 2em;
	float: left;
}

#center{
	width: 25%;
	height: 65%;
	margin: 0.86%;
	border-radius: 2em;
    float: left;
}

#zoo{
	background-color: black;
	width: 98%;
	height: 63%;
	margin-bottom: 7%;
	border-radius: 2em;
	border-style: solid;
	border-width: 1%;
}

#zooHeader{
	width: 100%;
	height: 25%;
	color: white;
	font-size: 3.5em;
	font-family:Georgia, "Times New Roman", Times, serif;

}

#zoo0{
	width: 100%;
	height: 35%;
	background-color: #448E51;/*darker green*/
	margin-bottom: 3%;
	border-radius: 1.5em;

}

#zoo1{
	width: 100%;
	height: 35%;
	background-color: #448E51;/*darker green*/
	border-radius: 1.5em;
}

#messageBox{
	background-color: #4A2500;/*warm brown*/
	width: 100%;
	height: 30%;
	border-radius: 2em;
	font-family:Georgia, "Times New Roman", Times, serif;
	color: #FFFF66;/*light yellow*/
	overflow: hidden;
}

#messageBoxContent{
	width: 90%;
	height: 75%;
	margin: 5%;
	overflow: auto;
}

#rightMap{
	background-color: #F0DF86;/*light beige*/
	width: 34%;
	height: 65%;
	margin: 0.86%;
	border-radius: 2em;
	float: left;
}

#question{
	background-color: #4A2500;/*warm brown*/
	width: 32%;
	height: 23%;
	padding: 1%;
	margin-left: 0.86%;
	margin-right: 0.86%;
	margin-bottom: 0.86%;
	border-radius: 2em;
	float: left;
	overflow: hidden;	/* Feature #6029:  prevent footprint svg from causing scroll bars*/
}

#questionHeader{
	font-family:Georgia, "Times New Roman", Times, serif;
	color: #FFFF66;/*light yellow*/
	font-size: 1.5em;
}

#questionContent{
	width: 90%;
	height: 85%;
	font-family:Georgia, "Times New Roman", Times, serif;
	color: #FFFF66;/*light yellow*/
	font-size: 1em;
	overflow: auto;
}

#spinnerSection{
	background-color: #FFFF66;/*light yellow*/
	width: 25%;
	height: 27%;
	margin-left: 0.86%;
	margin-right: 0.86%;
	margin-bottom: 0.86%;
	border-radius: 2em;
	float: left;
	overflow: hidden;
}

#answer{
	background-color: #4A2500;/*warm brown*/
	width: 24%;
	height: 23%;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 5%;
	padding-right: 5%;
	margin-left: 0.86%;
	margin-right: 0.86%;
	margin-bottom: 0.86%;
	border-radius: 2em;
	float: left;
}

#answerHeader{
	font-family:Georgia, "Times New Roman", Times, serif;
	color: #FFFF66;/*light yellow*/
	font-size: 1.5em;
}

#answerContent{
	width: 100%;
	height: 85%;
	font-family:Georgia, "Times New Roman", Times, serif;
	color: #FFFF66;/*light yellow*/
	font-size: 1em;
	overflow: auto;
}

g.button{
	fill: #FFFF66;/*light yellow*/
	pointer-events: all;
}

g.button:hover{
    fill: #5EC471;/*light green*/
}

a {
color: #DB8130;/*orange*/
}

a:visited {
color: #5EC471;/*light green*/
}

/* Task #6076:  added mcqOptionAI to prevent inversion of AI multichoice buttons by user click. */
.mcqOption, .mcqOptionAI{
	background-color: #FFFF66;/*light yellow*/
	color: #4A2500;/*warm brown*/
	font-family:"Times New Roman", Times, serif;
	border-radius: 2em;
	font-size: 1.5em;
}

.mcqOption:hover{
	cursor: pointer;
	color:  #5EC471;/*light green*/;
}

/*Task #6076 Invert colours when clicking buttons.  */
.mcqOption:active{
	background-color: #4A2500;/*warm brown*/
	color: #FFFF66;/*light yellow*/
	border: 1px solid #FFFF66;/*light yellow*/

}

#yesButton, #noButton, #proceedButton/*, .buttonAI*/{
	background: #FFFF66;/*light yellow*/
	color: #4A2500;/*warm brown*/
	vertical-align: middle;
}

#proceedButton{
	width: 40%;
	height: 17%;
	font-size: 1.5em;
}

#yesButton:hover, #noButton:hover, #proceedButton:hover{
	cursor: pointer;
	color: #5EC471;/*light green*/
}

/*Task #6076 Invert colours when clicking buttons.  */
#yesButton:active, #noButton:active, #proceedButton:active{
	background-color: #4A2500;/*warm brown*/
	color: #FFFF66;/*light yellow*/
	border: 1px solid #FFFF66;/*light yellow*/
}


#yesButton{
	float:left;
}

#space{
	float:left;
}

#noButton{
	float:left;
}

image:hover{
	cursor: pointer;
}

#theGuy{
	background-color: red;
}

#shadow:hover{
	cursor: pointer;
}
/* Task #6088:  Adding iframe for Zoo Story popup. */
#storyPopup{
	position: absolute;
	top: 3px;
	right:3px;
	width: 50%;
	height:98%;
	border: 3px solid #4A2500;/*warm brown*/
	visibility: hidden;
	background-color: #F0DF86;/*light beige*/
}

#story{
	width: 100%;
	height:97%;
	border: none;
	background-color: #F0DF86;/*light beige*/
	font-family:Georgia, "Times New Roman", Times, serif;
	/*padding: 5%;  REMOVED --> causing scroll bars */
}

#storyBody{
	background-color: #F0DF86;/*light beige*/
}

#storyClose{
	right: 0px;
	float: right;
	background-color: #F0DF86;/*light beige*/
}

.caption{caption-side:bottom; width:410px; text-align:center; margin: 5px; font-family:Georgia, "Times New Roman", Times, serif; font-style:italic;
}

#infoDiv{
	position: absolute;
	right:5px;
	width:5%;
	height:5%;
}